<p>Search works!</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of this.userList">
            <td>{{user.id}}</td>
            <td>
                <a [routerLink]="['./view', user.login]">{{user.login}}</a> 
            </td>
        </tr>
    </tbody>
</table>
